<a class="hideStyle" [target]="target" [routerLink]="routerLink" *ngIf="routerLink">
  <ion-item button [lines]="lines" [class]="ionItemClass" [color]="color">
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </ion-item>
</a>

<a class="hideStyle" [target]="target" [href]="href" *ngIf="!routerLink">
  <ion-item button [lines]="lines" [class]="ionItemClass" [color]="color">
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </ion-item>
</a>

<ng-template #contentTpl><ng-content></ng-content></ng-template>